<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Historique des Opérations</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <h1>Historique des 5 dernières opérations</h1>
    <% if (typeof operations !== 'undefined') { %>
        <ul>
        <% operations.forEach(operation => { %>
            <li><%= operation.operand1 %> <%= operation.operator %> <%= operation.operand2 %> = <%= operation.result %></li>
        <% }) %>
        </ul>
    <% } %>
    <% if (typeof error !== 'undefined') { %>
        <h2><%= error %></h2>
    <% } %>
    <a href="/">Retour à la calculatrice</a>
</body>
</html>
