<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Calculatrice</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <h1>Calculatrice</h1>
    <form action="/calculate" method="post">
        <input type="number" name="operand1" placeholder="Premier nombre" required>
        <select name="operator" required>
            <option value="+">+</option>
            <option value="-">-</option>
            <option value="*">*</option>
            <option value="/">/</option>
        </select>
        <input type="number" name="operand2" placeholder="Deuxième nombre" required>
        <button type="submit">Calculer</button>
    </form>
    <% if (typeof result !== 'undefined') { %>
        <h2>Résultat: <%= result %></h2>
    <% } %>
    <% if (typeof error !== 'undefined') { %>
        <h2><%= error %></h2>
    <% } %>
    <a href="/history">Voir les 5 dernières opérations</a>
</body>
</html>
